* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Edge */
    user-select: none;
    /* preventing iOS tap highlight */
    -webkit-tap-highlight-color: transparent;
    /* Disable browser handling of all panning and zooming gestures, except for regular scrolling */
    touch-action: pan-y;
}

body {
    background-color: black;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

#camera {
    position: relative;
}

/* Video Element */
video {
    inline-size: 100vw;
    block-size: 85vh;
    object-fit: cover;
    object-position: center;
}

video.flip {
    scale: -1 1;
}

/* Video Controls */
.controls {
    display: flex;
    block-size: 100px;
    inline-size: 90vw;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}

/* Video filters */

.lenses {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
}

.lenses>.image {
    position: relative;
}
.lenses>.image>.preview {
    object-fit: cover;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.lenses>.image>.preview.video {
   content: url("./assets/video-rect.svg");
}
.lenses>.image>.preview-dual {
    position: absolute;
    object-fit: cover;
    border-radius: 4px;
    inset-inline-start: 20px;
}

/* Switch between video and photo capture modes */
.switch-camera-video-photo-mode input[type="checkbox"] {
    display: none;
}

.switch-camera-video-photo-mode {
    position: absolute;
    display: flex;
    inline-size: 100%;
    margin-inline: auto;
    justify-content: center;
    gap: 20px;
    padding: 0.6rem;
    background-color: #1119289a;
    cursor: pointer;
    translate: 0 -44px;
}

.switch-camera-video-photo-mode label span {
    color: white;
    padding-inline: 10px;
    text-align: center;
    mix-blend-mode: difference;
}

.switch-camera-video-photo-mode input[type="radio"] {
    display: none;
}

.switch-camera-video-photo-mode input[type="radio"]+label {
    color: #9CA3AF;
    transition: scale 0.2s ease;
}

.switch-camera-video-photo-mode input[type="radio"]:checked+label {
    color: #fff;
    scale: 1.1;
}

/* Capture button */
#camera:has(.switch-camera-video-photo-mode input[type="radio"]#video-mode:checked) .capture-button .capture-icon {
    fill: red;
}

/* Switch between rear and front camera modes */
.switch-camera-facing-mode {
    cursor: pointer;
    pointer-events: all;
}

.switch-camera-facing-mode:has(.rotating) {
    pointer-events: none;
}

.switch-camera-facing-mode .rotate {
    cursor: pointer;

}

.switch-camera-facing-mode .rotate:is(.rotating) {
    animation: rotate 1.5s both;
    transform-origin: 50% calc(50% + 1.1px);

}

@keyframes rotate {
    0% {
        rotate: 0deg;

    }

    100% {
        rotate: -180deg;
    }
}

/* Capture button to click and take photos */
.capture-button {
    cursor: pointer;
}

.capture-button:is(.click) .capture-icon {
    animation: click 0.2s ease-in-out both;
    transform-origin: center;
}

@keyframes click {
    0% {
        scale: 1;
    }

    50% {
        scale: 0.85;
    }

    100% {
        scale: 1;
    }
}

.record {
    display: block;
    position: fixed;
    inset-block-start: 10px;
    inset-inline-start: 50%;
    translate: -50% 0;
    background-color: red;
    min-inline-size: 9.5ch;
    text-align: start;
    padding: 10px;
    color: white;
    font-kerning: none;
    letter-spacing: 0.1rem;
    border-radius: 30px;
}


.range-container{
    position: absolute;
    inset-inline-start: 50%;
    translate: -50% 0;
    inset-block-start: 75vh;   
    display: flex;
    justify-content: center;
    visibility: hidden;
}
#range{
    
}
.range-container img{
    position: absolute;
    /* opacity: 0.9; */
    pointer-events: none;
}